*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

header{
    border-bottom: 1px solid black;
    text-align: center;
    margin:0 auto;
  }
  
  main{
    width: center;
    height: 1000px;
    position: relative;
  }
  
  section {
    text-align: justify;
    width: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  aside{
    width: 180px;
    border: 1px solid black;
    position: fixed; 
    right: 0;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }

 /*  aside:hover{
    background-color: white ;
    color: black ;
  } */

  button:active{
    background-color: white;
    color: black;
  }

  aside:active{
    background-color: white;
    color: black;
  }

  aside:hover{
    background-color: black;
    color: white;
    font-family: serif;
  }
 
